
$purple: #B19CD9;
$orange: #FFD8A8;

$green: #B6D7A8;
$yellow: #FFED99;
$red: #F16C7F;
$blue: #87CEEB;

$white-fd: #FDFDFD;
$white-ed: #EDEDED;
$white-dd: #DDDDDD;
$white-cd: #CDCDCD;
$white-bd: #BDBDBD;
$white-ad: #ADADAD;
$white-9d: #9D9D9D;
$white-8d: #8D8D8D;
$white-7d: #7D7D7D;
$white-6d: #6D6D6D;

$bg-09: #090909;
$bg-19: #191919;
$bg-29: #292929;
$bg-39: #393939;
$bg-49: #494949;
$bg-59: #595959;
$bg-69: #696969;
$bg-79: #797979;
$bg-89: #898989;
$bg-99: #999999;