@import url(https://fonts.bunny.net/css?family=montserrat:100,200,300,400,500,600,700,800,900|nunito:400,700);

@import '@/styles/variables.scss';

/*  NOTE:  Reset styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $white-fd;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  padding-top: var(--safe-area-inset-top);
  padding-bottom: var(--safe-area-inset-bottom);
  padding-left: var(--safe-area-inset-left);
  padding-right: var(--safe-area-inset-right);
  background-color: $bg-09;
}

p {
  color: var($white-fd);
}
